  <plugin id="guiQtQuick" class="::guiQtQuick::Plugin" version="@DASH_VERSION@" >
    <library name="guiQtQuick" />

    <requirement id="dataReg" />
    <requirement id="servicesReg" />
    <requirement id="gui" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IFrameSrv</type>
        <service>::guiQtQuick::frame::QuickFrame</service>
        <object>::fwData::Object</object>
    </extension>
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwGui::IActionSrv</type>
        <service>::guiQtQuick::action::SStarter</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
